<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo1</title>
</head>

<body>
    <div id="app"> 
        <c-input @add-new-book="addNewBook"></c-input> 
       <book-list :list="bookList"></book-list> 
    </div>
    <script src="./vue.js"></script>
    <script>

        // 输入组件
        Vue.component('c-input',  {
            data() {
                return {
                    book: ''
                }
            },
            methods: {
                addNewBook(newBook) {
                    // 这里要注意， HTML对大小写是敏感的， 所有的 事件名都会转成小写的形式。 
                    // 如果这里用驼峰式的命名很容易导致找不到对应的事件方法。  
                    this.$emit('add-new-book', this.book); 
                    this.book = '' ;  
                }
            },
            template: `
            <div id="input-area">
                <input type="text" v-model="book">
                <button @click="addNewBook">确定</button>
                <div>{{book}}</div>
            </div>
            `
        });  

        // 列表组件  
        Vue.component('book-list', {
            props: {
                list: {
                    type: Array,
                    default: ['默认item']
                }
            },
            data: function () {
               return {
                selectedIndex: '', 
                title: '列表组件', 
                bookList: ['全栈架构师', '后端架构师']
               } 
            },
            template:  ` <div id="book-list">
                            <div id="title">{{title}}</div>
                            <div v-for="item in list" :key="item">
                                {{ item }}
                            </div>
                        </div>`
        // template:  '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        });


        var app = new Vue({
            el: '#app',
            data: {
                title: 'title-demo1',  
                bookList: ['1', '2'], 
                book: ''
            }, 
            methods: {
                addNewBook(book) { console.log('添加一个新的book . ');
                    console.log(this.bookList);
                    console.log(book);
            
                    this.bookList.push(book); 
                    console.log(this.bookList); 
                }
            },
        });
    </script>
</body>

</html>